body {
    text-align: center;
}

ul {
    list-style-type: none;
}

#listName {
    font-size: 100px;
    color: teal;
}

.thingToDo {
    font-size: 50px;
    color: black;
}

.checkBox {
    margin-right: 50px;
}

input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

.formEntry {
    display: block;
    margin: auto;
}

.button, input {
    font-size:25px;
}

.remove {
    font-size: 15px;
    color: white;
    background-color: blue;
    padding: 5px;
    margin-left: 50px;
}